# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env

# Django
db.sqlite3
staticfiles/

# VSCode
.vscode/

# OS
.DS_Store

# Logs
*.log

# Data
scanner_site/data/*.parquet

# Jupyter
.ipynb_checkpoints/